@page
@model YazYaz.Pages.Quotes.DeleteModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["DeleteDelete"];
}

<h1>@Localizer["DeleteDelete"]</h1>

<h3>@Localizer["DeleteAreYouSure"]</h3>
<div>
    <h4>@Localizer["DeleteQuote"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Localizer["DeleteText"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quote.Text)
        </dd>
        <dt class="col-sm-2">
            @Localizer["DeleteAuthor"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quote.Author)
        </dd>
        <dt class="col-sm-2">
            @Localizer["DeleteTitle"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quote.Title)
        </dd>
        <dt class="col-sm-2">
            @Localizer["DeleteStatus"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quote.Status)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Quote.QuoteID" />
        <input type="submit" value="@Localizer["DeleteDelete"]" class="btn btn-danger" /> |
        <a asp-page="./Index">@Localizer["DeleteBackToList"]</a>
    </form>
</div>
