@page
@model YazYaz.Pages.Quotes.IndexModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = "Index";
}

<h2>@Localizer["Quotes"]</h2>

<p>
    <a asp-page="Create">@Localizer["CreateNew"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Localizer["Quote"]
            </th>
            <th>
                @Localizer["Author"]
            </th>
            <th>
                @Localizer["Title"]
            </th>
            <th>
                @Localizer["Status"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Quote)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            @if (item.Status == QuoteStatus.Approved)
            {
                <td>
                    @Localizer["QuotesIndexApproved"]
                </td>
            }
            else if (item.Status == QuoteStatus.Rejected)
            {
                <td>
                    @Localizer["QuotesIndexRejected"]
                </td>
            }
            else if (item.Status == QuoteStatus.Submitted)
            {
                <td>
                    @Localizer["QuotesIndexSubmitted"]
                </td>
            }
            <td>
                @if ((await AuthorizationService.AuthorizeAsync(
             User, item,
             QuoteOperations.Update)).Succeeded)
                {
                    <a asp-page="./Edit" asp-route-id="@item.QuoteID">@Localizer["Edit"]</a>
                    <text> | </text>
                }

                <a asp-page="./Details" asp-route-id="@item.QuoteID">@Localizer["Details"]</a>

                @if ((await AuthorizationService.AuthorizeAsync(
             User, item,
             QuoteOperations.Delete)).Succeeded)
                {
                    <text> | </text>
                    <a asp-page="./Delete" asp-route-id="@item.QuoteID">@Localizer["Delete"]</a>
                }
            </td>
        </tr>
        }
    </tbody>
</table>
