@page
@model IndexModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["IndexHomePage"];
}

<div class="container-fluid pt-3">

    <div class="row ">

        <div class="col-md-12 text-center">
            <h2>@Localizer["StartTyping"]</h2>
        </div>

    </div>

    <div class="row pt-3">

        <!--generated paragraphs-->
        <div class="lead paragraph col-md-12 blocks border">
            @Html.DisplayFor(model => model.Quote.Text)
        </div>
    </div>
    <div class="row justify-content-center pt-4">
        <label for="comment">@Localizer["TimerStarts"]</label>

        <input class="form-control" id="userInput" onkeypress="CallBoth(event)" onkeydown="BackSpace(event)" />
        <!--alert-->
        <div class="alert alert-danger alert-dismissible text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Warning!</strong> The timer is still running. You must finish typing all of the content!
        </div>
    </div>
    <div class="row justify-content-center pt-1">
        <div class="col-4">
            <div class="pt-1">
                <button type="button" class="resetBtn btn btn-primary btn-lg"><i class="fa fa-refresh"></i> Reset</button>
            </div>
        </div>
        <div class="col-4">
            <div class="pt-1">
                <div id="result"></div>
            </div>
        </div>
        <div class="col-4">
            <div class="pt-1">
                <div id="resultRank"></div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center pt-1" id="resultImage"></div>
</div>

@section Scripts
{ 
    <script>
        var paragraph = "@Html.DisplayFor(model => model.Quote.Text)"
        var uri = "api/Records"

        var localizerTypingSpeedIs = "@Localizer["TypingSpeedIs"]";
        var localizerWordsPerMinute = "@Localizer["WordsPerMinute"]";
        var localizerErrors = "@Localizer["Errors"]";
        var localizerTime = "@Localizer["Time"]";
        var localizerElapsed = "@Localizer["Elapsed"]";
        var localizerSeconds = "@Localizer["Seconds"]";
        var localizerClickBox = "@Localizer["ClickTheBox"]";
        var localizerSavedDatabase = "@Localizer["SavedDatabase"]";
        var localizerErrorDatabase = "@Localizer["ErrorDatabase"]";
    </script>
    <script src="~/js/main.js"></script>
}