@page
@model YazYaz.Pages.RecordsModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = "Records";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h3>@Localizer["Performance"]</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Localizer["User"]
            </th>
            <th>
                @Localizer["Date"]
            </th>
            <th>
                @Localizer["Speed"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Record)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Owner.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Speed)
                </td>
            </tr>
        }
    </tbody>
</table>
